<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>NEWS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav>
        <a href="/">NEWS</a>
    </nav>
    <section>
        <div>
            <div class="contenedor">
                <% if (page!=0) {%>
                    <button><a href="/news?page=<%=page-1%>"><i class="fa-solid fa-caret-left"></i></a></button>
                <% } %>
                <div class="noticias">
                    <% for(let i=0;i< news.length; i++){ %>
                        <div class="noticia">
                            <div id="id_news"><p><%= news[i].id_news %></p></div>
                            <h3><%= news[i].title %></h3>
                            <p><%= news[i].news %></p>  
                        </div>
                    <% } %>
                </div>
                <% if (offset+limit< rows) {%>
                    <button> <a href="/news?page=<%=page+1%>"><i class="fa-solid fa-caret-right"></i></a>  </button>
                <% } %>
    
            </div>
            <div class="new" id="noticiaAdd">
                
                <form action="/news?page=<%=page%>" method="POST">
                    <h3>Add news</h3>
                    <div>
                        <input type="text" name="title" placeholder="News Title" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <input type="text" name="news" placeholder="News Content">
                    </div>
                    <input type="submit" value="submit">
                </form>
            </div>
            <div class="bot">
                <button onclick="addNews()"><i class="fa-solid fa-pen"></i></button>
            </div>
        </div>
    </section>
    <script src="/javascripts/script.js"></script>
</body>
</html>